apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-sql
  namespace: database
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS pacientes (
      id SERIAL PRIMARY KEY,
      nome VARCHAR(100) NOT NULL,
      idade INT,
      email VARCHAR(100),
      telefone VARCHAR(20)
    );

    CREATE TABLE IF NOT EXISTS consultas (
      id SERIAL PRIMARY KEY,
      paciente_id INT REFERENCES pacientes(id),
      data_consulta TIMESTAMP NOT NULL,
      medico VARCHAR(100),
      observacao TEXT,
      criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );