apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-sql
  namespace: database
data:
  init.sql: |
    -- Exemplo de tabela inicial
    CREATE TABLE IF NOT EXISTS pacientes (
      id SERIAL PRIMARY KEY,
      nome VARCHAR(100) NOT NULL,
      created_at TIMESTAMP DEFAULT NOW()
    );
