apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
  namespace: database
  labels:
    app.kubernetes.io/name: database
    app.kubernetes.io/part-of: healthtrack
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 1Gi
  volumeName: db-pv-v2
