apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
  namespace: frontend
  labels: { app.kubernetes.io/name: frontend, app.kubernetes.io/part-of: healthtrack }
spec:
  replicas: 3
  selector:
    matchLabels: { app.kubernetes.io/name: frontend }
  template:
    metadata:
      labels: { app.kubernetes.io/name: frontend, app.kubernetes.io/part-of: healthtrack }
    spec:
      containers:
      - name: frontend
        image: healthtrack-frontend:latest              
        # --- CORREÇÃO REVERTIDA ---
        # "IfNotPresent" é o correto para clusters 'kind'
        # que usam 'kind load docker-image'.
        imagePullPolicy: IfNotPresent 
        # --- FIM DA CORREÇÃO ---
        
        ports: [ { containerPort: 80 } ]
        envFrom:
        - configMapRef: { name: frontend-config }
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: frontend
  labels: { app.kubernetes.io/name: frontend, app.kubernetes.io/part-of: healthtrack }
spec:
  type: NodePort
  selector: { app.kubernetes.io/name: frontend }
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30090