apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: frontend
data:
  BACKEND_BASE_URL: http://backend-svc.backend.svc.cluster.local:3000
  nginx.conf.template: |
    worker_processes  1;
    events { worker_connections 1024; }
    http {
      include       mime.types;
      default_type  application/octet-stream;
      sendfile        on;
      keepalive_timeout  65;

      server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;
        index index.html;

        location /api/ {
          proxy_pass ${BACKEND_BASE_URL}/;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }

        location / {
          try_files $uri /index.html;
        }
      }
    }
