apiVersion: v1
kind: PersistentVolume
metadata:
  name: healthtrack-pv
  labels:
    app.kubernetes.io/part-of: healthtrack
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /data/healthtrack
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
  namespace: database
  labels:
    app.kubernetes.io/part-of: healthtrack
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: healthtrack-pv
