apiVersion: v1
kind: Service
metadata:
  name: db-svc
  namespace: database
  labels:
    app: db
spec:
  type: ClusterIP
  selector:
    app: db
  ports:
    - name: postgres
      protocol: TCP
      port: 5432
      targetPort: postgres
