kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: healthtrack
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 30080
        protocol: TCP
      - containerPort: 3000
        hostPort: 3000
        protocol: TCP
